md-card-content {
  margin-top: 20px;
}

md-card-content .language {
  font-family: monospace;
}

md-card-content .row {
  margin-bottom: 20px;
}

md-card-content .row .distance {
  color: rgba(255,255,255,.3);
}

md-input-container {
  width: 100%;
}
