<form (submit)="getTranslation(key)">
  <md-card class="example-card">
    <md-card-header>
      Translation Search
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput name="key" [(ngModel)]="key" placeholder="Key (a.b.c)">
      </md-input-container>
      <div class="row"
        *ngFor="let i = index; let data of translations | async">
        <md-input-container>
          <input mdInput name="{{ i }}" [(ngModel)]="localTranslations[languageArray[i]] && localTranslations[languageArray[i]].value" placeholder="{{ languageArray[i] }}">
        </md-input-container>
        <div class="distance">
          Levenshtein Distance: {{
            localTranslations[languageArray[i]] &&
            localTranslations[languageArray[i]].metadata &&
            localTranslations[languageArray[i]].metadata.levenshtein
          }}
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button type="submit"
        md-button>
        FIND
      </button>
      <button *ngIf="hasTranslations"
        type="button"
        md-button
        (click)="saveTranslations()">
        SAVE UPDATES
      </button>
    </md-card-actions>
  </md-card>
</form>
